@import '../utilities/colors';
@import 'fonts';
button {
    display: inline-block;
    margin: 1rem 0;
    background-color:#fefffe00;
    color: $primary;
    font-size: 1rem;
    font-variation-settings: map-get($font-weights, "regular" ) ;
    align-items: center;
    padding: .3rem 2rem;
    border-radius: 30px;
    border: none;
    border:  $primary 1.5px solid ;
    cursor: pointer;
    align-self: center;
        a{
            text-align: center;
            align-self: center;
            margin: 1rem 0;
        }
        &:hover{
            background-color: $primary;
            color: #fefffe;
        }
}