@import '../utilities/mixins';
@import '../utilities/colors';
@import 'fonts';

/* form */
.mainForm{
    @include flexColumCenter();
}
.formulario{
    @include flexColumCenter();
    width: 60%;
    margin-bottom: 4rem;
}
input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: none;
    border:  $primary 1.5px solid ;
    margin: 0rem 1rem 1rem 1rem;
}
form label{
    width: 100%;
    font-size: 1.2rem;
    color: #004A89;
    font-weight: 500;
}

.formButton-conatiner{
    @include flexColumCenter();
}

.formButton{
    width: auto;
    display: inline-block;
    margin: 1rem 1rem;
    background-color:#fefffe00;
    color: $primary;
    font-size: 1rem;
    font-variation-settings: map-get($font-weights, "regular" );
    padding: .3rem 2rem;
    border-radius: 30px;
    border: none;
    border:  $primary 1.5px solid ;
    cursor: pointer;
        &:hover{
            background-color: $primary;
            color: #fefffe;
        }
}


@media (min-width : 576px) {
    .address{
        font-size: 1.4rem;
    }
}
@media (min-width : 992px) {
    .address{
        font-size: 1.6rem;
    }
}