@import '../utilities/mixins';
@import '../utilities/colors';
@import '../utilities/extend';
@import '../components/fonts';

// Header
.logoText{
    font-family: 'Inconsolata';
    font-variation-settings: map-get($font-weights, "thin" ), map-get($font-widths, "narrow" );
    text-decoration: none;
    color: $primary;
    font-size: 2.5rem;
    &:hover{
        animation: variation 2s ease ;
    }
}
//Extend
.logoTextFoot{
    @extend .logoText;
    color:  $secondary;
}

.barHeader{
    overflow: hidden;
    background-color: rgba($secondary, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    margin-bottom: 10px ;
    @include flexColumCenter();
    flex-wrap: nowrap;
}

.barFooter{
    overflow: hidden;
    background-color: $primary ;
    bottom: 0;
    height: 170px;
    padding: 10px 0px;
    z-index: 20;
    margin-top: 10px ;
    @include flexColumCenter();
        p {
            font-size: 1rem;
            text-align: center;
            color: $secondary;
        }
}

.navBar{
    @include flexColumCenter();
        ul li {
            text-decoration:  none;
            display: inline-block;
            margin: 0px 1px;
        }
            a {
                font-family: 'Inconsolata';
                font-variation-settings: map-get($font-weights, "light" ), map-get($font-widths, "narrow" );
                text-decoration:  none;
                font-size: 16px;
                text-align: center;
                color: $primary;
                display: inline-block;
                padding : 5px 10px;
                border-bottom:  #00498900 1px solid  ;
                &:hover{
                    font-variation-settings: map-get($font-weights, "medium" ), map-get($font-widths, "narrow" );
                    border-bottom:  1px solid  $primary;
                }
            }
}

.navBarFooter img {
    padding: .8rem 0;
    width: 1.8rem;
    margin: 0rem .5rem;
}

@media (min-width : 576px) {
    // .barHeader{
    //     @include flexColumCenter();
    // }
    .navBar ul li a {
        font-size: 1.2rem;
        padding : 5px 12px;
        margin: 0 1rem;
        font-size: 1.2rem;
    }
    .logoText{
        font-size: 3rem;
    }

    .navBarFooter img {
        width: 2.5rem;
        margin: 0 2rem;

    }
    .logoTextFoot{
        font-size: 3rem;
    }
    .barFooter{
        @include flexColumCenter();
            p{
                text-align: center;
            }
    }

}

@media (min-width : 992px) {
    .barHeader{
        @include flexRowCenter();
    }
    .navBar ul li a {
        font-size: 1.5rem;
    }

    .navBarFooter img {
        width: 3rem;
    }
    .barFooter{
        @include flexRowCenter();
            p{
                text-align: center;
            }
    }
}