@import '../utilities/mixins';
@import '../utilities/colors';
@import '../components/fonts';
*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin-top: 100px;
    background-color: $secondary;
}

h1{
    font-variation-settings: map-get($font-weights, "bold" ) ;
    font-size: 2.5rem;
    color: $primary;
}
h2{
    @extend h1;
}
h3{
    font-variation-settings: map-get($font-weights, "demiBold" ) ;
    font-size: 2rem;
    color: $primary;
}
h4{
    margin: 0.5rem 0;
    font-size: 2rem;
    color: $primary;
    font-variation-settings: map-get($font-weights, "regular" ) ;
}
p{
    font-size: 1rem;
    color: $primary;
    font-variation-settings: map-get($font-weights, "hair" ) ;
}

.titulo{
    @include flexRowCenter();
    text-align: left;
    width: 100%;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
}

@media (min-width : 576px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
}

@media (min-width : 992px) {
    h1{
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
}