.logoText{
    font-family: 'Inconsolata';
    font-variation-settings: map-get($font-weights, "thin" ), map-get($font-widths, "narrow" );
    text-decoration: none;
    color: $primary;
    font-size: 2.5rem;
        &:hover{
            animation: variation 2s ease ;
            /* font-variation-settings: 'wght' 500, 'wdth' 120; */
        }
}
