{% extends "AppOficina/plantilla.html" %} {% load static %} {% block main %}
<div>
  <h2>Miguel Angel Contreras Cruz</h2>
  <p style="font-size: 20px">
    Licenciado en diseño gráfico por la Benemérita Universidad Autónoma de
    Puebla. Es miembro de los colectivos Letter INC, Letrástica y Typefobia
    orientado a actividades en torno a la caligrafía, tipografía y rotulación,
    donde imparte talleres, organiza el encuentros y charlas. Actualmente se
    desempeña como experto tipográfico en Cultivo Estudio, front end developer
    en InterplanetaryFonts y junto con Eduardo Aire fundó Letter Engine, una
    fundición tipográfica independiente especializada en font production,
    mastering y programación.
  </p>
</div>

{% endblock %}
