{% extends "AppOficina/plantilla.html" %} {% load static %} {% block main %}
<div>
  <h1>Aquí puedes buscar tu contenido</h1>
  <div class="navBar" style="margin-bottom: 30px">
    <ul>
      <li>
        <a
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-size: 35px;
          "
          href="{% url 'buscarVideojuego'%}"
        >
          Buscar Videojuegos</a
        >
      </li>
      <li>
        <a
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-size: 35px;
          "
          href="{% url 'buscarDesarrollador'%}"
        >
          Buscar Desarrolladores</a
        >
      </li>
    </ul>
  </div>
  <h1>Aquí puedes ver todo el contenido</h1>
  <div class="navBar" style="margin-bottom: 30px">
    <ul>
      <li>
        <a
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-size: 35px;
          "
          href="{% url 'leerVideojuegos'%}"
        >
          Ver videojuegos</a
        >
      </li>
      <li>
        <a
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
            font-size: 35px;
          "
          href="{% url 'leerDesarrolladores'%}"
        >
          Ver desarrolladores</a
        >
      </li>
    </ul>
  </div>
</div>

{% endblock %}
