<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{% static 'AppOficina/assets/css/style.css' %}"
    />
    <title>Oficina Gamer</title>
    <meta
      name="description"
      content="Bienvenido a killetter. Estudio méxicano especializado en caligrafía, tipografía y lettering."
    />
    <meta name="keywords" content="DISEÑO, TIPOGRAFÍA, CALIGRAFÍA, LETTERING" />
    <!-- OPEN GRAPH -->
    <meta property="og:tipe" content="website" />
    <meta property="og:title" content="killetter" />
    <meta
      property="og:description"
      content="Estudio méxicano especializado en caligrafía, tipografía y lettering."
    />
    <meta property="og:name" content="Killetter Studio" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'AppOficina/assets/img/favicons/favicon-16x16.png' %}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="barHeader">
      <div class="logo">
        <a class="logoText" href="{% url 'home'%}">Oficina Gamer</a>
      </div>
      <nav class="navBar">
        <ul>
          <li><a href="{% url 'registro'%}">Contenido de Videojuegos</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'editarUser'%}"> Editar Usuario </a></li>
          <li><a href="{% url 'logout'%}"> Cerrar Sesión </a></li>
          <li
            style="
              text-decoration: none;
              font-size: 20px;
              text-align: center;
              color: #004a89;
              display: inline-block;
              padding: 5px 10px;
              border-bottom: rgba(0, 73, 137, 0) 1px solid;
            "
          >
            <a href="{% url 'avatar'%}">Hola {{ user.first_name }}</a>
          </li>
          {% with user.avatar_set.first as miAvatar %} {% if miAvatar %}
          <li>
            <div
              style="width: 50px; height: 50px; background-image: url('{{miAvatar.image.url}}');
              background-repeat:no-repeat;
              background-size:cover;
              background-position:center center;
              border-radius:50px"
            ></div>
          </li>
          {% endif %} {% endwith %} {% else %}
          <li><a href="{% url 'login'%}"> Iniciar Sesión </a></li>
          <li><a href="{% url 'Signout'%}"> Registrarse </a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container" style="margin-top: 100px; width: 80%">
      {% block main %} {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="barFooter">
      <div class="logo">
        <a class="logoTextFoot" href="{% url 'about'%}">Sobre mi</a>
      </div>
      <nav class="navBarFooter">
        <a href="https://www.instagram.com/killetter"
          ><img
            class="jello-vertical"
            src="{% static 'AppOficina/assets/icons/instagram-brands.svg' %}"
            alt="Logo de
          instagram"
        /></a>
        <a href="https://twitter.com/killettertype"
          ><img
            class="jello-vertical"
            src="{% static 'AppOficina/assets/icons/twitter-brands.svg' %}"
            alt="Logo de twitter"
        /></a>
        <a href="https://www.behance.net/killetter"
          ><img
            class="jello-vertical"
            src="{% static 'AppOficina/assets/icons/behance-brands.svg' %}"
            alt="Logo de behance"
        /></a>
        <a href="https://github.com/miglconts"
          ><img
            class="jello-vertical"
            src="{% static 'AppOficina/assets/icons/github-brands.svg' %}"
            alt="Logo de github"
        /></a>
      </nav>
    </footer>
  </body>
</html>
